* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: "Maven Pro", serif !important; */
    font-family: "Sulphur Point", serif !important;
}

a{
    text-decoration: none !important;
}

/* Banner Section */

.banner-img-container{
    background-image: url(./img1/D9CE4A613D6C480698EAD771348933F2_A5EC25634CFE440AB99F9DDD2FA32332_001-hero_21-9_5120x2194.jpg);
    height: 80vh;
    background-size: cover;
}

.banner-content-container{
    height: 70vh;
    display: flex;
    align-items: end;
    color: white;
}

.banner-content-container h1{
    font-weight: 700;
}

/* Tab Section */

.tab-container{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.tab-content{
    height: 70px;
}

.tab-container ul li{
    list-style: none;
}

/* Porsche Deutschland Gmbh */

.contact-img-container img{
    height: 500px;
    border-radius: 12px;
    width: 600px;
    background-size: cover;
}

.contact-image-bottom-data{
    font-size: 12px;
    color: grey;
}

.subsidiaries-card-button button{
    padding: 15px 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
}

/* Footer Section */

.sci{
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 30px;
  
}

ul, ol{
    list-style: none;  padding-left: 0 !important;
}

.footer-bg{
    background: black;
    margin-top: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
}

.sec h4{
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
}

li a{
    color: #fff;
    text-decoration: none;
}

.footer-btn{
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.footer-btn:hover{
    background-color: rgb(175, 176, 179);
    cursor: pointer;
}

.footer-wrapper{
    border-bottom: 1px solid lightgrey;
}

.sci li{
    background-color: white;
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.sci li i{
    color: black;
    font-size: 22px;
}

.sci li:hover{
    background-color: rgb(175, 176, 179);
    cursor: pointer;
}

.footer-content p span{
    text-decoration: underline;
    color: #fff;
}
